@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v21-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v21-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v21-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 25px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

html {
  font-size: 13px;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', serif;
  color: #1f373d;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  font-family: 'Montserrat', serif;
  font-size: 1.1rem;
}

button {
  font-family: 'Montserrat', serif;
  font-size: 1.1rem;
  color: #1f373d;
  font-weight: 600;
}

.section-title {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.6rem;
  }
}

@media (max-width: 475px) {
  .section-title {
    text-align: center;
  }
}

.header {
  position: fixed;
  background: #fff;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
  padding: 27px 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  font-size: 25px;
  font-weight: 600;
}

.header .conect a {
  display: inline-block;
  padding: 20px;
  color: inherit;
}

.header .conect .get-start {
  border-radius: 10px;
  background: #ffcc01;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.header .conect .get-start:hover {
  background: #ffdb4e;
}

@media (max-width: 840px) {
  .header .conect .get-start {
    background: #fff;
    color: #ffcc01;
  }
}

.header .conect .join-us {
  padding-left: 0;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media (max-width: 840px) {
  .header .conect .join-us {
    color: #fff;
  }
}

.header .conect .join-us:hover {
  color: #ffcc01;
}

@media (max-width: 840px) {
  .header .conect {
    position: fixed;
    top: -100%;
    -webkit-transition: top .4s;
    transition: top .4s;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
}

@media (max-width: 840px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffcc01;
    -webkit-clip-path: circle(100px at top right);
            clip-path: circle(100px at top right);
    -webkit-transition: -webkit-clip-path .7s;
    transition: -webkit-clip-path .7s;
    transition: clip-path .7s;
    transition: clip-path .7s, -webkit-clip-path .7s;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list .menu-item {
  position: relative;
}

.menu-list .menu-item:not(:first-child) {
  margin-left: 33px;
}

@media (max-width: 840px) {
  .menu-list .menu-item {
    margin-left: 0 !important;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
  }
}

.menu-list .menu-item .menu-link {
  color: inherit;
}

@media (max-width: 840px) {
  .menu-list .menu-item .menu-link {
    color: #fff;
    font-size: 24px;
  }
}

.menu-list .menu-item::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 20px;
  background: #1f373d;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (min-width: 840px) {
  .menu-list .menu-item:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media (max-width: 840px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#menu-checkbox {
  display: none;
}

.menu-btn {
  position: relative;
  z-index: 4;
  width: 40px;
  display: none;
}

.menu-btn span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu-btn span::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: top .3s, -webkit-transform .3s;
  transition: top .3s, -webkit-transform .3s;
  transition: transform .3s, top .3s;
  transition: transform .3s, top .3s, -webkit-transform .3s;
}

.menu-btn span::after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: background .3s, top .3s, -webkit-transform .3s;
  transition: background .3s, top .3s, -webkit-transform .3s;
  transition: background .3s, transform .3s, top .3s;
  transition: background .3s, transform .3s, top .3s, -webkit-transform .3s;
}

@media (max-width: 840px) {
  .menu-btn {
    display: block;
  }
}

#menu-checkbox:checked ~ .menu {
  -webkit-clip-path: circle(1150px at top right);
          clip-path: circle(1150px at top right);
}

#menu-checkbox:checked ~ .conect {
  top: 20px;
}

#menu-checkbox:checked ~ .menu-btn span {
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-checkbox:checked ~ .menu-btn span::before, #menu-checkbox:checked ~ .menu-btn span::after {
  background: #fff;
}

#menu-checkbox:checked ~ .menu-btn span::before {
  top: 0;
}

#menu-checkbox:checked ~ .menu-btn span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .container::before {
  content: '';
  display: block;
  position: absolute;
  width: 81%;
  height: calc(100% - 110px);
  right: 0;
  bottom: 0;
  background: url(../img/hero.jpg) center/cover no-repeat;
}

@media (max-width: 543px) {
  .hero .container::before {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .hero .container::after {
    content: '';
    display: block;
    position: absolute;
    width: 81%;
    height: calc(100% - 137px);
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .5;
  }
}

@media (max-width: 992px) and (max-width: 543px) {
  .hero .container::after {
    width: 100%;
  }
}

.hero .container .hero-text {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 4.6rem;
  text-transform: capitalize;
}

@media (max-width: 543px) {
  .hero h1 {
    font-size: 2.6rem;
  }
  .hero h1 br {
    display: none;
  }
}

.hero form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 475px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 55px;
}

.hero form .search-input {
  color: #9aa5b7;
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  background: url(../img/search.svg) 16px/16px 16px no-repeat;
  border: none;
}

.hero form .search-input:focus {
  outline: none;
  border: 2px solid #ffcc01;
}

.hero form .search-btn {
  border: none;
  background: #ffcc01;
  padding: 20px;
}

@media (max-width: 543px) {
  .hero form {
    width: 100%;
  }
}

.hero .contact {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  background: #ffcc01;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .contact img {
  margin-right: 20px;
}

@media (max-width: 543px) {
  .hero .contact {
    width: 100%;
  }
}

.hero .scroll-down {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 12%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: inherit;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #9aa5b7;
}

.hero .scroll-down img {
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 20px;
  top: 10px;
}

.hero .scroll-down:active, .hero .scroll-down:hover {
  color: #ffcc01;
}

@media (max-width: 543px) {
  .hero .scroll-down {
    bottom: 21%;
  }
}

.phone,
.geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #1f373d;
  font-weight: 600;
}

@media (max-width: 543px) {
  .phone,
  .geo {
    width: 50%;
  }
}

.statistics {
  padding: 140px 0 75px;
}

.statistics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .statistics .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.statistics .statistics-text {
  width: 50%;
}

@media (max-width: 768px) {
  .statistics .statistics-text {
    width: 100%;
  }
}

.statistics .section-title {
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .statistics .section-title br {
    display: none;
  }
}

.statistics .statistics-list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.statistics .statistics-list .statistics-item {
  text-align: center;
  padding: 65px 0;
  width: calc(50% - 15px);
  background: #f6f5f4;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.statistics .statistics-list .statistics-item:hover {
  background: #ffcc01;
  color: #fff;
}

.statistics .statistics-list .statistics-item:hover .number {
  color: #fff;
}

.statistics .statistics-list .number {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffcc01;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media (max-width: 768px) {
  .statistics .statistics-list {
    width: 100%;
    margin-top: 75px;
  }
}

.statistics .statistic-last-paragraf {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .statistics {
    padding-top: 75px;
  }
}

.appartaments {
  padding: 60px 0 95px;
  background: #f6f5f4;
}

.appartaments .down-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  margin-top: 55px;
}

.appartaments .down-part form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 475px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.appartaments .down-part form .search-input {
  color: #9aa5b7;
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  background: url(../img/search.svg) 16px/16px 16px no-repeat;
  border: none;
}

.appartaments .down-part form .search-input:focus {
  outline: none;
  border: 2px solid #ffcc01;
}

.appartaments .down-part form .search-btn {
  border: none;
  background: #ffcc01;
  padding: 20px;
}

@media (max-width: 610px) {
  .appartaments .down-part form {
    width: 100%;
  }
}

.appartaments .down-part button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.appartaments .down-part button:hover {
  background: #1f373d;
  color: #fff;
}

@media (max-width: 610px) {
  .appartaments .down-part {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 35px;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  margin-top: 80px;
}

@media (max-width: 610px) {
  .card-list {
    row-gap: 35px;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.card-item {
  width: calc(33.33% - 24px);
  background: #fff;
  -webkit-box-shadow: 2px 2px 25px rgba(31, 55, 61, 0.15);
          box-shadow: 2px 2px 25px rgba(31, 55, 61, 0.15);
}

.card-item .card-img {
  width: 100%;
}

.card-item .text-part {
  padding: 25px;
}

.card-item .text-part-footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-item .text-part .card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.card-item .text-part .card-flex img {
  margin-right: 10px;
}

.card-item .card-yellow {
  color: #ffcc01;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  .card-item {
    width: calc(50% - 24px);
  }
}

@media (max-width: 610px) {
  .card-item {
    width: 100%;
  }
}

.sub-title {
  width: 360px;
  line-height: 2.2;
  margin-top: 30px;
}

@media (max-width: 475px) {
  .sub-title {
    width: 100%;
    text-align: center;
  }
}

.how {
  padding: 60px 0 85px;
}

.how-list {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  counter-reset: item;
}

.how-list .how-item {
  width: calc(33% - 20px);
  padding: 145px 70px 70px;
  -webkit-box-shadow: 2px 2px 25px rgba(31, 55, 61, 0.15);
          box-shadow: 2px 2px 25px rgba(31, 55, 61, 0.15);
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
  position: relative;
  overflow: hidden;
}

.how-list .how-item::before {
  content: "0" counter(item);
  counter-increment: item;
  position: absolute;
  font-size: 200px;
  color: #1f373d;
  font-weight: 600;
  top: -25%;
  left: -14%;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media (max-width: 992px) {
  .how-list .how-item::before {
    top: -27%;
    left: -7%;
  }
}

@media (max-width: 375px) {
  .how-list .how-item::before {
    font-size: 100px;
    top: -12%;
    left: -2%;
  }
}

.how-list .how-item h3 {
  position: relative;
  margin-bottom: 30px;
}

.how-list .how-item h3 span {
  position: absolute;
  left: -30px;
}

.how-list .how-item:hover {
  background: #ffcc01;
  color: #fff;
}

.how-list .how-item:hover .how-link::after {
  background: #fff;
}

.how-list .how-item:hover::before {
  color: #fff;
}

.how-list .how-item .how-link {
  display: inline-block;
  color: inherit;
  margin-top: 30px;
  position: relative;
}

.how-list .how-item .how-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -15px;
  background: #1f373d;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: background .3s, -webkit-transform .3s;
  transition: background .3s, -webkit-transform .3s;
  transition: background .3s, transform .3s;
  transition: background .3s, transform .3s, -webkit-transform .3s;
}

.how-list .how-item .how-link:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

@media (max-width: 992px) {
  .how-list .how-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .how-list .how-item {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .how-list .how-item {
    padding: 145px 40px 40px;
  }
}

@media (max-width: 992px) {
  .how-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .how-list {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.services {
  padding: 0 0 75px;
}

.services .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

.services .flex-container .flex-column {
  width: 45%;
}

@media (max-width: 768px) {
  .services .flex-container .flex-column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services img {
  display: block;
  width: 100%;
}

.services h3 {
  font-size: 2.7rem;
  margin-bottom: 35px;
}

.services .text-block:not(:last-child) {
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .services .text-block {
    margin-top: 55px;
  }
}

.agents {
  padding: 55px 0 90px;
  background: #f6f5f4;
}

.agents .card-yellow {
  font-size: 1.1rem;
}

.add {
  padding: 0px 0px 100px;
}

.add .add-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.add .add-block.invert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (max-width: 768px) {
  .add .add-block.invert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .add .add-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.add .img-column {
  width: 45%;
  position: relative;
}

.add .img-column img {
  width: 100%;
}

@media (max-width: 768px) {
  .add .img-column {
    width: 100%;
    margin-bottom: 70px;
  }
}

.add .text-column {
  width: 45%;
}

@media (max-width: 768px) {
  .add .text-column {
    width: 100%;
  }
}

.add h2 {
  margin-bottom: 35px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .add h2 {
    font-size: 1.5rem;
  }
}

.add p {
  line-height: 2.2;
}

@media (max-width: 768px) {
  .add p {
    font-size: 1.25rem;
  }
}

.add .show-me {
  display: inline-block;
  margin-top: 30px;
  background: #1f373d;
  padding: 30px 55px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.add .show-me:hover {
  background: #fff;
  color: #1f373d;
  -webkit-box-shadow: 2px 2px 5px rgba(31, 55, 61, 0.3);
          box-shadow: 2px 2px 5px rgba(31, 55, 61, 0.3);
}

.add .location {
  position: absolute;
  width: 60%;
  bottom: -9%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px;
  background: #ffcc01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.add .location img {
  width: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .add .location {
    width: 100%;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.add .location:hover {
  background: #e1b400;
}

@media (max-width: 375px) {
  .add .location {
    padding: 10px 0px;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  padding: 10px;
  background: #ffcc01;
  border-radius: 20px;
  border: 5px solid #fff;
}
